<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase 8</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6e031e4963.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/magazine.css">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <style>
        .error-msg {
            color: red;
        }
    </style>

    <%- include('partials/header')  %> 

    <main>
        <div id="carrusel">
            <div id="carrusel-items" class="content-centered">
                <div class="carrusel-img">
                    <img src="/img/img-carrusel1.png" alt="">
                </div>
                <div class="carrusel-texto">
                    <div class="carrusel-titulo">Contemporary Art</div>
                    <div class="carrusel-descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. In similique ullam non! Dicta odio, nisi cum obcaecati, ratione asperiores enim sapiente necessitatibus, perferendis est eos aperiam minus deleniti exercitationem quis!</div>
                </div>
            </div>
            
        </div>
        <div id="main-section" class="content-centered">
            <h3>Registro</h3>
            <form id="register-form" action="/register" method="POST">
                <div>
                    <label for="name">Nombre</label>
                    <input type="text" id="name" name="name" value="<% if (typeof data != 'undefined' && typeof data.name != 'undefined') { %><%= data.name %><% } %>">
                    <span class="error-msg">
                        <!-- si hay errores y si está el error de el campo name, lo imprimo-->
                        <% if (typeof errors != 'undefined' && typeof errors.name != 'undefined') { %>
                        <%= errors.name.msg %>
                        <% } %>
                    </span>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email"  name="name" value="<% if (typeof data != 'undefined' && typeof data.email != 'undefined') { %><%= data.email %><% } %>">
                    <span>
                        <% if (typeof errors != 'undefined' && typeof errors.email != 'undefined') { %>
                        <%= errors.email.msg %>
                        <% } %>
                    </span>
                </div>
                <div>
                    <label for="">Es mayor de edad</label>
                    <div>
                        <input type="radio" name="mayor" id="mayorsi" value="yes">
                        <label for="mayorsi">SI</label>
                        <input type="radio" name="mayor" id="mayorno" value="no">
                        <label for="mayorno">NO</label>
                    </div>
                    <span></span>
                </div>
                <div>
                    <label for="country">Pais</label>
                    <select name="country" id="country">
                        <option value="VEN">Venezuela</option>
                        <option value="COL">Colombia</option>
                        <option value="ARG">Argentina</option>
                        <option value="" selected>--Seleccione--</option>
                    </select>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                    <span></span>
                </div>
                <div>
                    <label for="password-confirm">Confirmar Password</label>
                    <input type="password" id="password-confirm" name="password-confirm">
                    <span></span>
                </div>

                <div>
                    <button type="submit">Registrarme</button>
                </div>

            </form>
        </div>

        <div id="seccion2">
            <div id="awards-section" class="content-centered">
                <div class="premio-texto">
                    <div class="premio-titulo">Web Design Awards</div>
                    <div class="premio-descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. In similique ullam non! Dicta odio, nisi cum obcaecati, ratione asperiores enim sapiente necessitatibus, perferendis est eos aperiam minus deleniti exercitationem quis!</div>
                </div>
                <div class="premio-img">
                    <i class="fas fa-award"></i>
                </div>
            </div>
        </div>
    </main>
    
    <%- include('partials/footer') %>
    <script src="/js/magazine.js"></script>

</body>
</html>